<aside class="sidebar" id="sidebar">
    <div class="logo-box" onclick="toggleMenu()">
        <img src="../assets/images/timenroll-logo-short.png" class="logo" alt="Logo">
    </div>

    <nav>
        <a href="admin-dashboard.html">Dashboard</a>
        <a href="add-teachers.html">Add Teachers</a>
        <a href="add-students.html">Add Students</a>
        <a href="add-classes.html">Add Classes</a>
        <a href="timetable.html">Timetable</a>

        <a class="logout-link" onclick="openLogout()">Logout</a>
    </nav>
</aside>